<div class='panel third block_list' id='events'>
  <h2>Upcoming Events</h2>
  <ul>
    <% @events.each do |event| %>
      <li class='clearfix'>
        <span class='calendar clearfix'>
          <span class='month'>
            <%= event['date'].strftime("%b") %>
          </span>
          <%= event['date'].strftime("%d") %>
        </span>
        <%= event['title'] %>
      </li>
    <% end %>
  <ul>
</div>
